.gemini
**/node_modules
**/dist
**/.next

# Build and Temp folders
.turbo
coverage
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS and Editor folders
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Git
.git

# Environment files (exclude all except explicitly allowed)
.env
.env.*
!.env.example

# Test and development folders
apps/api/test
apps/web/test
